@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


body{margin:0;}
h1,h2,p,figure{margin:0}
*{box-sizing: border-box;}
a{ text-decoration: none; }
ul,li{list-style-type: none; margin:0; padding:0;}



header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 10%;
}
header > h1{}
header > h1 > a{color:white;}
header > nav{}
header > nav > a{color:white; padding:0 20px}
header > nav > a:hover{ color:yellow; }
header > div{color:white}

.ic-setting{
    font-family: 'Material Symbols Outlined';
    color:#fff;
}

main{}

section{ width:80%; margin: 100px auto;}
section > h2{
    text-align: center;
    margin-bottom: 5%;
    font-size:44px;
}
section > ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section > ul > li{
    width:30%;
    margin-bottom:5%;
}
section > ul > li > figure{
    position: relative;
    overflow:hidden;
}
section > ul > li > figure > p{
    overflow:hidden;
}
section > ul > li > figure > p > img{
    width:100%; 
    vertical-align: middle;
    transition: 0.5s;
}
section > ul > li > figure > figcaption{
    background-color: rgba(255,0,0,0.5);
    color:#fff;
    text-align: center;
    padding:10px 0;
  
    position:absolute;
    left:0; bottom:-50px;
    width:100%;
    transition: 0.5s;
}
section > ul > li > figure:hover > figcaption{
    bottom:0;
}



section > ul > li > figure:hover > p > img{
    transform: scale(1.5);
}



aside{
    width:400px; height:300px;
    background-color: #000;
    border-radius: 20px;

    position:fixed; 
    /* left:calc(50% - 200px); 
    top:calc(50% - 150px); */
    right:0; bottom:-250px;
    transition: 0.5s;
}
aside:hover{bottom:0px;}

aside > div{
    color:#fff;
}

footer{
    background-color: #eee;
    text-align: center;
    padding:50px 0;
}




