/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.box1{  
    white-space: pre-line;
    padding:40px;
    width:60%;
    margin:0 auto;
    line-height:2;
    background-color: #eee;
}


.font{}
.font > ul{}
.font > ul > li{}
.font > ul > li > p{color:red;}
.font > ul > li:nth-of-type(1) > p{font-size:24px;}
.font > ul > li:nth-of-type(2) > p{font-family: 'Nanum Pen Script', cursive;}
.font > ul > li:nth-of-type(3) > p{font-weight:lighter}
.font > ul > li:nth-of-type(4) > p{font-style:italic}
.font > ul > li:nth-of-type(5) > p{
    color:red; 
    color:#ff0000;   
    /* 0~16개의 숫자를 이용함(10~16문자 => A~F)
    숫자가 클수록 명도가 높음  
    빨(ff),녹(00),파(00) */

    color:rgb(1, 13, 255)
    /* 빨(255),녹(0),파(0),알(1) */
}
.font > ul > li:nth-of-type(6) > p{
    line-height:16px;
}
.font > ul > li:nth-of-type(7) > p{
    letter-spacing:10px;
}
.font > ul > li:nth-of-type(8) > p{
    text-decoration:line-through;
    text-decoration: none;    
}
.font > ul > li:nth-of-type(9) > p{
    text-transform:capitalize;
}
.font > ul > li:nth-of-type(10) > p{
    text-align:justify;
}

/* shift + alt + 방향키(v) */


/* 여백 */
.mp{}
.mp > h2{}
.mp > ul{}
.mp > ul > li{}
.mp > ul > li > p{}
.mp > ul > li:nth-of-type(1) p{
    margin:100px 0px 100px 100px;
}
.mp > ul > li:nth-of-type(2) p{
    margin:100px 0px 100px
}
.mp > ul > li:nth-of-type(3) p{
    margin:100px 200px;
}
.mp > ul > li:nth-of-type(4) p{
    margin:100px
}
.mp > ul > li:nth-of-type(5) p{
    width:400px;
    margin:100px auto;
}
.mp > ul > li:last-of-type p{
    margin-left:50px;
}


/* background */
body{ height:5000px; }
.bg{
    white-space: pre-line;   
}
.bg>p:first-of-type{
    padding:60px;
    height:500px;
    background-image: url('img/03.jpg'); 
    background-repeat:  no-repeat;
    /* repeat, no-repeat , repeat-x, */
    background-position: left bottom;
    /* 
        문자표기 => 가로(left,right,center) / 세로(top,center,bottom)
        숫자   표기 => px, %,...... 
    */
    border:10px solid #f00;
    background-size: cover;
    background-attachment: fixed;
}

.bg>p:nth-of-type(2){
    padding:200px;
    background:#f00 url('img/06.jpg') center / contain no-repeat scroll;
}
